{% load themes %}

<footer class="nrec-login__footer">
  <div class="nrec-login__footer-links">
    <hr />
    <p>First-time login? Click <a href="https://access.nrec.no/">here</a>.</p>
    <p><a href="https://docs.nrec.no/">Read more about NREC</a></p>
    <p><a href="https://docs.nrec.no/terms-of-service.html">Terms of Service</a></p>
    <hr />
  </div>
  <div class="nrec-login__footer-logos">
    <a href="https://uio.no/">
      <img src="/logos/uio_emb.png" alt="uio">
    </a>
    <a href="https://uib.no/">
      <img src="/logos/uib_emb.png" alt="uib">
    </a>
    <a href="https://neic.no/">
      <img src="/logos/logo_neic.png" alt="neic">
    </a>
    <a href="https://www.naic.no/">
      <img src="logos/logo_naic.svg" alt="naic">
    </a>
  </div>
</footer>
